.body {
    background-color: rgb(240, 160, 233);
    background-image: url(https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.heading{
    color: blueviolet;
    font-size: 40px;
    text-align: center;
    border: 1px solid rgb(197, 233, 218);
    border-radius: 15px;
    background-color: rgb(173, 235, 218);
    
}
#convertButton {
    border-radius: 10px;
    background-color: rgb(193, 152, 231);
    color: white;
    font-size: 16px;
}
#marlaInput {
    border-radius: 10px;
    background-color: aliceblue;
    font-size: 20px;
    text-align: center;
}
#result{
    background-color: transparent;
    border-radius: 20px;
    font-size: 30px;
}
